<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheguza.mymusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Main Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SongsActivity"
            android:label="Song Detail screen" />
        <activity
            android:name=".PlaylistActivity"
            android:label="Music Library" />
        <activity
            android:name=".AlbumsActivity"
            android:label="Albums" />
        <activity
            android:name=".ArtistActivity"
            android:label="Artist" />
        <activity android:name=".PaymentActivity"
            android:label="Payment"/>
    </application>

</manifest>